.md-main__inner {
  margin-top: .1rem;
}

.md-content__inner {
  padding-top: .1rem;
}

.md-typeset h1 {
  margin-bottom: 0.5em;
}

h2, h3 {
  color: var(--md-default-fg-color--light);
}
