.md-main__inner {
  margin-top: .1rem;
}

.md-content__inner {
  padding-top: .1rem;
}

.md-typeset h1 {
  margin-bottom: 0.5em;
}

h2, h3 {
  color: var(--md-default-fg-color--light);
}


/* main page */

.flex-row {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.ref-button {
  display:flex;
  flex-direction: column;
  align-items:center;
  box-sizing: border-box;
  width: 10em;
  padding: 6px;
  /* margin-right:6px; */
  margin: 6px;
  border: solid 1px #101223;
  border-radius: 15px;
}

.ref-button-2 {
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 10em;
  /* min-width: 10em;
  max-width: 12em; */
  padding: 6px;
  margin: 6px;
  border: solid 1px #101223;
  border-radius: 15px;
}

.ref-button-2-middle {
  display:flex;
  flex-direction: column;
  align-items:center;
  box-sizing: border-box;
  width: 90%;
  padding:6px;
  /* margin-right:6px; */
  /* border: solid 1px #101223;
  border-radius: 15px; */
}

.ref-button:hover {
  transition-duration: 0.4s;
  background-color: #101223;
}

.ref-button-2:hover {
  transition-duration: 0.4s;
  background-color: #101223;
}

.ref-button-icon {
  
}

.ref-button-title {
  
}

@media screen and (min-width: 60em) {
  /* duplicate from main.css */
	.md-sidebar--secondary:not([hidden]) {
		display: block
  }
  /* new custom rule */
  .md-content {
    margin-left: 16%;
  }
  .flex-row {
    width: 76%;
  }
}
