.md-main__inner {
  margin-top: .1rem;
}

.md-content__inner {
  padding-top: .1rem;
}

.md-typeset h1 {
  margin-bottom: 0.5em;
}

h2, h3 {
  color: var(--md-default-fg-color--light);
}


/* main page */

.flex-row {
  display:flex;
  width: 100%;
}

.ref-button {
  display:flex;
  flex-direction: column;
  align-items:center;
  box-sizing: border-box;
  width: 40%;
  padding:6px;
  margin-right:6px;
  border: solid 1px #101223;
  border-radius: 15px;
}

.ref-button:hover {
  transition-duration: 0.4s;
  background-color: #101223;
}

.ref-button-icon {
  
}

.ref-button-title {
  
}
